<p>
    <h3 class="text-success">Продукт</h3>
</p>
<p>
    <h4 class="text-primary">Id  = @ViewBag.Product.Id </h4>
    <h4 class="text-primary">Наименование = @ViewBag.Product.Name </h4>
    <h4 class="text-primary">Стоимость = @ViewBag.Product.Price </h4>
</p>
<hr />
<p><a href="/Home/Products" class="btn btn-primary btn-lg">Список продуктов</a></p>


